.xmpp-rich-edit{
    /*background: #fff;*/
}
.xmpp-rich-edit-tool{
    list-style: none;
    padding: 0;
    margin: 0;
}
.xmpp-rich-edit-tool-item-box{
    position: relative;
    display: inline-block;
}
.xmpp-rich-edit-tool-item{
    font-size: 16px;
    padding: 0.5em;
    line-height: 1em;
    cursor: pointer;
    display: block;
}
.xmpp-rich-edit-tool-item:hover,
.xmpp-rich-edit-tool-item.cur{
    background: #ddd;
}
.xmpp-rich-edit-qq-face-box{
    position: absolute;
    bottom: 120%;
    margin-left: -200px;
    left: 50%;
    background: #fff;
    padding: 10px;
    border:1px solid #ddd;
    box-shadow: 0 0 10px #999;
}
.xmpp-rich-edit-textarea{
    width:100%;
    height: 100px;
}
